/* VARIABLES */
/* General Styles */
body {
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: sans-serif; }

div {
  width: 200px;
  height: 200px;
  float: left;
  border-radius: 50%;
  z-index: 999; }

button {
  cursor: pointer;
  border: 0;
  background-color: mediumorchid;
  color: white; }
  button:hover {
    background-color: violet; }

/* Typography */
/* Containers */
#blue {
  background-color: #1E90FF; }

#yellow {
  background-color: #FFFF33; }

#red {
  background-color: #DC143C; }

#green {
  background-color: #00FF7F; }

/* Modified from https://jsfiddle.net/yeghb8oo/, suggested by Philip Enc on Stack Overflow */
.bloom {
  position: absolute;
  -webkit-transition: background-color 0.2s;
  -moz-transition: background-color 0.2s;
  -o-transition: background-color 0.2s;
  transition: background-color 0.2s; }
  .bloom::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%; }

#blue.bloom::after {
  animation: cd-pulse-blue 0.5s; }

@keyframes cd-pulse-blue {
  0% {
    box-shadow: 0 0 0 0 #1E90FF; }
  100% {
    box-shadow: 0 0 0 200px rgba(220, 20, 60, 0); } }
#red.bloom::after {
  animation: cd-pulse-red 0.5s; }

@keyframes cd-pulse-red {
  0% {
    box-shadow: 0 0 0 0 #DC143C; }
  100% {
    box-shadow: 0 0 0 200px rgba(220, 20, 60, 0); } }
#yellow.bloom::after {
  animation: cd-pulse-yellow 0.5s; }

@keyframes cd-pulse-yellow {
  0% {
    box-shadow: 0 0 0 0 #FFFF33; }
  100% {
    box-shadow: 0 0 0 200px rgba(255, 255, 102, 0); } }
#green.bloom::after {
  animation: cd-pulse-green 0.5s; }

@keyframes cd-pulse-green {
  0% {
    box-shadow: 0 0 0 0 #00FF7F; }
  100% {
    box-shadow: 0 0 0 200px rgba(0, 255, 127, 0); } }
/* MEDIA QUERIES */
@media only screen and (min-width: 801px) {
  #blue {
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -100px;
    margin-top: 0; }

  #yellow {
    position: absolute;
    top: 50%;
    left: 100%;
    margin-left: -200px;
    margin-top: -100px; }

  #red {
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -100px;
    margin-top: -200px; }

  #green {
    position: absolute;
    top: 50%;
    left: 0;
    margin-left: 0;
    margin-top: -100px; }

  button {
    width: 100vw;
    height: 100vh;
    z-index: 9999;
    border: 0;
    background-color: rgba(186, 85, 211, 0.7);
    position: absolute; }
    button:hover {
      background-color: rgba(238, 130, 238, 0.7); }

  /* Modified from https://jsfiddle.net/yeghb8oo/, suggested by Philip Enc on Stack Overflow */
  .bloom {
    position: absolute;
    display: inline-block;
    border-radius: 50%; }
    .bloom::after {
      position: absolute;
      border-radius: 50%; } }
@media screen and (max-width: 800px) {
  #blue, #yellow, #green, #red {
    width: 50vw;
    height: 50vh;
    border-radius: 0;
    position: absolute; }

  .bloom {
    position: absolute;
    display: inline-block;
    z-index: 9998; }
    .bloom::after {
      position: absolute; }

  #blue {
    top: 0;
    left: 0; }

  #red {
    bottom: 0;
    right: 0; }

  #green {
    left: 0;
    bottom: 0; }

  #yellow {
    right: 0;
    top: 0; }

  button {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    z-index: 9999;
    margin-top: -100px;
    margin-left: -100px;
    position: absolute;
    top: 50%;
    left: 50%; } }

/*# sourceMappingURL=style.css.map */
